@page
@model ForgotPasswordModel
@{
//ViewData["Title"] = "Forgot your password?";
}
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url("/images/mairie.jpg");
            background-position: center;
            background-attachment: fixed;
            background-size: contain;
        }

        form {
            width: 60%;
            margin: 60px auto;
            background: linear-gradient(red, white);
            padding: 60px 120px 80px 120px;
            text-align: center;
            -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
            box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        }

        label {
            color: white;
        }
    </style>
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
