@model WS01.Models.IxMaterielsStatuts

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterielStatut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterielStatut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIxMaterielsStatuts">Modifier</a> |
    <a asp-action="Index">Revenir à la page Statut</a>
</div>
