@model WS01.Models.LinksMaterielsIxMaterielStatuts

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LinksMaterielsIxMaterielStatuts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pk" />
            <div class="form-group">
                <label asp-for="FkMateriels" class="control-label"></label>
                <select asp-for="FkMateriels" class="form-control" asp-items="ViewBag.FkMateriels"></select>
                <span asp-validation-for="FkMateriels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkMaterielsStatuts" class="control-label"></label>
                <select asp-for="FkMaterielsStatuts" class="form-control" asp-items="ViewBag.FkMaterielsStatuts"></select>
                <span asp-validation-for="FkMaterielsStatuts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIxAntenne" class="control-label"></label>
                <select asp-for="FkIxAntenne" class="form-control" asp-items="ViewBag.FkIxAntenne"></select>
                <span asp-validation-for="FkIxAntenne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkAspNetUsers" class="control-label"></label>
                <select asp-for="FkAspNetUsers" class="form-control" asp-items="ViewBag.FkAspNetUsers"></select>
                <span asp-validation-for="FkAspNetUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDebut" class="control-label"></label>
                <input asp-for="DateDebut" class="form-control" />
                <span asp-validation-for="DateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFin" class="control-label"></label>
                <input asp-for="DateFin" class="form-control" />
                <span asp-validation-for="DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
