@model WS01.Models.AspNetRoles

@{
    ViewData["Title"] = "Create" ;
}

<h1>Create</h1>

<h4>AspNetRoles</h4>    
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" readonly></label>
                <input asp-for="Id" class="form-control" id="PkUser" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NormalizedName" class="control-label" hidden></label>
                <input asp-for="NormalizedName" class="form-control" hidden/>
                <span asp-validation-for="NormalizedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcurrencyStamp" class="control-label" hidden></label>
                <input asp-for="ConcurrencyStamp" class="form-control" hidden/>
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la page Gestion Rôles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var number = "@ViewBag.idd";
    $("#PkUser").val(number);
</script>
}
