@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bienvenue sur l'intranet de la Mairie</h1>
        <img src="~/images/mairie.jpg" style="width:100%" />
    </div>
</div>
