@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Supprimer les Données Personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<style>
    body {
        background: linear-gradient(red, white);
    }

    label {
        color: white;
    }
</style>
<h4 style="color:white">@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>La suppression de ces données supprimera définitivement votre compte, et cela ne pourra pas être récupéré.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">
            Supprimer des données et fermer mon compte
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}