@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données Personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
    <style>
        body {
            background: linear-gradient(red, white);
        }

        label {
            color: white;
        }
    </style>
<h4 style="color:white">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p style="color:white">
            Votre compte contient des données personnelles que vous nous avez fournies. Cette page vous permet de télécharger ou de supprimer ces données.
        </p>
        <p style="color:white">
            <strong>La suppression de ces données supprimera définitivement votre compte, et cela ne pourra pas être récupéré.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Télécharger</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Supprimer</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}